/**
 * File:    pod2html_min.css
 * Original File: pod2html.css
 * Author:  Jiří Kučera <sanczes@gmail.com>
 * Date:    2020-03-18 22:38:36 +0100
 * Project: pod2html.css
 * Version: 0.02
 * Brief:   CSS for styling pod2html generated output.
 *
 * SPDX-License-Identifier: MIT
 */

/* Adjusted for Zeppe-Lin distribution by
 * Alexandr Savca <alexandr.savca89@gmail.com>
 */

/*
 * Base
 */
/*
@font-face {
  font-family: 'Iosevka Term';
  src: URL('/font/Iosevka Term Medium Nerd Font Complete.ttf')
        format('truetype');
}
*/
body {
  font: inherit;
  font-family: "Iosevka Font", "Iosevka Nerd Font", "DejaVu Sans", sans-serif;
  /*font-size: 18px;*/
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
 * Layout
 */

body {
  margin: 10rem 1rem 1rem 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  /*max-width: 160rem;*/
  min-height: calc(100% - 5rem);
  max-height: calc(100% - 5rem);
  overflow: auto;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  background-color: #000;
  color: #55af66;
}
body img.logo {
  /*margin: -9rem 1rem 1rem 1rem;*/
  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #f6f5f4;
    /*border: 1px solid hsl(140, 51%, 51%);*/
    color: #002b36;
  }
}

/*
 * Content
 */

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  color: #af559e;
}

h2 {
  color: #71af55;
}

h3 {
  color: #9eaf55;
}

h4 {
  color: #9355af;
}

p {
  margin-top: 0;
}

pre, code {
  font-family: "JetBrains Mono", "JetBrains Nerd Mono", "Iosevka Term", "DejaVu Sans Mono", x, monospace;
}

table {
  width: 100%;
}

th, tr {
  text-align: left;
}

pre, table {
  padding: 0.5rem;
  font-size: 90%;
  min-width: 0;
  color: #5baf55;
  background-color: #111;
  border: 1px solid #55af66;
  overflow: auto;
}

code {
  color: #55af66;
}

pre code {
  color: #55af93;
}

a {
  color: hsl(0, 51%, 51%);
  text-decoration: none;
}

a:hover {
  color: hsl(210, 51%, 51%);
}

/*
 * Header
 */

body header {
  margin: -10rem 1rem 1rem 1rem;
  text-align: center;
}

@media screen and (prefers-color-scheme: light) {
  h1, h2, h3, h4 {
    color: #262626;
    font-weight: bold;
  }
  pre, table {
    background-color: hsl(203, 30%, 95%);
    border: 1px solid hsl(140, 51%, 51%);
    color: #073642;
  }
  code, pre code, p code {
    color: #073642;
  }

  a {
    color: hsl(0, 51%, 51%);
  }
  a:hover {
    color: hsl(210, 51%, 51%);
  }
}

/* vim: sw=2 ts=2 sts=2 et tw=71 cc=72
 * End of file. */
