name: Build and Deploy Documentation

on:
  push:
    branches:
      - master

env:
  CNAME: zeppe-lin.org

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Uses full history

      - name: Install Pandoc (3.8+ required)
        uses: pandoc/actions/setup@v1
        with:
          version: '3.8'

      - name: Build Documentation
        run: |
          echo "Building documentation..."
          make all
          make WWWDIR=$PWD/public install
          cd public
          ../extra/gen_robots.sh  "$CNAME"
          ../extra/gen_sitemap.sh "$CNAME"
          echo "$CNAME" > CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
