name: Build and Deploy Documentation

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Uses full history

      - name: Install Pandoc (3.8+ required)
        uses: pandoc/actions/setup@v1
        with:
          version: '3.8'

      - name: Build Documentation
        run: |
          echo "Building documentation..."
          make all
          mkdir -p public
          rm -rf public/*
          mv *.html public/ || echo "No HTML files found to deploy."
          cp *.css public/ || echo "No CSS files found to deploy."
          cp CNAME public/ || echo "No CNAME file found to deploy."

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
